
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>
<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th scope="col" colspan="2" class="text-center">Thông tin sinh viên</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th scope="row">Mã sinh viên</th>
            <td>SV001</td>
        </tr>
        <tr>
            <th scope="row">Họ tên</th>
            <td>Lê Thị Vân</td>
        </tr>
        <tr>
            <th scope="row">Ngày sinh</th>
            <td>16-03-2003</td>
        </tr>
        <tr>
            <th scope="row">Quê quán</th>
            <td>Nam Từ Liêm, Hà Nội</td>
        </tr>
    </tbody>
</table>


